In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.3.0'

In [14]:
dict_medidas = {'idades': [18, 20, 22, 22, 25, 30, 35, 40, 45, 50, 55],
    'alturas': [1.60, 1.65, 1.67, 1.70, 1.75, 1.80, 1.85, 1.90, 1.95, 2.00, 2.05],
}

In [15]:
dict_medidas

{'idades': [18, 20, 22, 22, 25, 30, 35, 40, 45, 50, 55],
 'alturas': [1.6, 1.65, 1.67, 1.7, 1.75, 1.8, 1.85, 1.9, 1.95, 2.0, 2.05]}

In [16]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [17]:
df_medidas

    idades  alturas
0       18     1.60
1       20     1.65
2       22     1.67
3       22     1.70
4       25     1.75
5       30     1.80
6       35     1.85
7       40     1.90
8       45     1.95
9       50     2.00
10      55     2.05

### Medidas Resumo

#### Medidas de posicão

In [18]:
# Média
df_medidas["idades"].mean()

np.float64(32.90909090909091)

In [19]:
# Mediana
df_medidas["idades"].median()

np.float64(30.0)

In [20]:
# Moda
df_medidas["idades"].mode()

0    22
Name: idades, dtype: int64

#### Medidas de dispersão

In [ ]:
# Variância
df_medidas["idades"].var()

np.float64(167.89090909090908)

In [23]:
# Desvio Padrão
df_medidas["idades"].std()

np.float64(12.95727244025181)

In [ ]:
# Coeficiente de Variação - Idades
df_medidas["idades"].std() / df_medidas["idades"].mean() * 100

np.float64(39.372927304632576)

In [26]:
# Coeficiente de Variação - Alturas
df_medidas["alturas"].std() / df_medidas["alturas"].mean() * 100

np.float64(8.339832710078943)

#### Medidas de forma

In [28]:
# Assimetria - Idades
df_medidas["idades"].skew()

np.float64(0.5239058421603493)

In [29]:
# Assimetria - Alturas
df_medidas["alturas"].skew()

np.float64(0.2110701167694301)

In [31]:
# Curtose - Idades
df_medidas["idades"].kurtosis()

np.float64(-1.195057367961787)

In [33]:
# Curtose - Alturas
df_medidas["alturas"].kurtosis()

np.float64(-1.2790834621508456)

In [35]:
# Obter as medidas estatísticas resumo
df_medidas["idades"].describe()

count    11.000000
mean     32.909091
std      12.957272
min      18.000000
25%      22.000000
50%      30.000000
75%      42.500000
max      55.000000
Name: idades, dtype: float64